h1 {
  padding-bottom: 30px;
}

table {
  margin: 0 auto;
  width: 85%;
}

td,
th {
  padding-left: 0px;
  text-align: center;
}

#iconOk {
  color: green;
}

#iconFalse {
  color: red;
}

img {
  width: 40px;
  height: 30px;
}

td button {
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.botonNuevo,
.botonVolver {
  text-align: right;
}

.botonNuevo {
  width: 92.5%;
}

#btnNuevo,
#btnVolver {
  border: 0px;
  height: 30px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  background-color: #00a2ff;
}

.botonVolver {
  padding-top: 20px;
  width: 11.2%;
}
